:root {
    --main-font-color: #000000;
    --main-font-onbackground-color: #FFFFFF;
    --secondary-font-color: #545454;
    --secondary-font-colorized: #FF6B08;
    --secondary-font-modal-color:#8C8C8C;
    --secondary-font-notification-color: #FF001B;

    --header-background-color: rgba(0, 0, 0, 0.56);
    --modal-external-background-color: rgba(0, 0, 0, 0.25);
    --footer-background-color:#F7F7F7;
}