<section class="section footer" id="section__footer">
  <div class="container footer__container">
    <!-- <p class="hidden"> Lorem32, ipsum dolor sit amet consectetur adipisicing elit. Ratione commodi, sapiente error harum
      mollitia magnam cupiditate, doloremque velit modi ipsa in consectetur? Nisi odit officiis, perspiciatis blanditiis
      ipsam fugit magnam rem architecto!</p> -->
    <ul class="footer__list list-no-ls">
      <li class="footer__item">&copy; 2022</li>
      <li class="footer__item">All Rights Reserved</li>
      <li class="footer__item">Developed with
        <span class="footer__heart" >&#10084</span> 
        by 
        <a href="#" class="footer__link">GoIT Students</a>  
      </li>  
    </ul>
  </div>
</section>