<!-- HEADER SECTION -->
<header class="header header-js ">
    <div class="container">
        <div class="preview">
            <a class="logo link-no-tdn" href="" id="header__link--home">
                <img 
                class="logo__svg" 
                src="./images/sprite/logo.svg" 
                alt="logo">
                <span class="logo__text-second">Filmoteka</span>
            </a>
        </div>
        <div class="visually-hidden" >
            <nav class="header__site-nav">
            
                <a class="logo link-no-tdn" href="" id="header__link--home">
                    <img class="logo__svg" src="./images/sprite/logo.svg" alt="logo">
                    <span class="logo__text">Filmoteka</span>
                </a>
            
                <ul class="header__nav_links list-no-ls">
                    <li class="header__nav_list_item ">
                        <button type="button" class="header__home_link site-nav__link current" id="header__btn--home">home</button>
                    </li>
            
                    <li class="header__nav_list_item">
                        <button type="button" class="header__lib_link site-nav__link" id="header__btn--library">my
                            library</button>
                    </li>
                </ul>
            </nav>
            
            <form class="header__input_box" id="header__search-form">
                <input type="text" name="input" class="header__input" placeholder="Search movies" autocomplete="off"  />
                <button class="header__search_btn">
                    <img class="header__search-btn-icon" src="./images/sprite/search.svg" alt="search">
                </button>
            </form>
            
            <div class="header__input_msg_error" id="header__container-msg">
            </div>

        </div>
</div>
</header>


<!-- <header class="header main-header-img " id="header" >
    <div class="container">
        <nav class="header__site-nav">

            <a class="logo link-no-tdn" href="" id="header__link--home">
                <img class="logo__svg" src="./images/sprite/logo.svg" alt="logo">
                <span class="logo__text">Filmoteka</span>
            </a>

            <ul class="header__nav_links list-no-ls">
                <li class="header__nav_list_item ">
                    <button type="button" class="header__home_link site-nav__link current"
                        id="header__btn--home">home</button>
                </li>

                <li class="header__nav_list_item">
                    <button type="button" class="header__lib_link site-nav__link" id="header__btn--library">my
                        library</button>
                </li>
            </ul>
        </nav>

        <form class="header__input_box" id="header__search-form">
            <input type="text" name="input" class="header__input" placeholder="Search movies" />
            <button class="header__search_btn">
                <img class="header__search-btn-icon" src="./images/sprite/search.svg" alt="search">
            </button>
        </form>

        <div class="header__input_msg_error" id="header__container-msg">
        </div>

    </div>
</header>  -->